.current_request_page {
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;

  .wrapper_filter_and_help_requests {
    width: 100%;
    margin: 0 auto;
  }

  &--message {
    display: block;
    font-size: 40px;
    font-weight: bold;
    text-align: center;

    p {
      margin: 10px 0 60px 0;
    }
  }
}

@media screen and (max-width: 1200px) {
  .current_request_page {
    width: 90%;
  }
}

@media screen and (max-width: 991px) {
  .current_request_page--message {
    font-size: 20px;
  }
}

@media screen and (max-width: 670px) {
   .current_request_page {
    width: 100%;

    &--message {
      display: flex;
      align-items: center;
      flex-direction: column; 
      font-size: 10px;   
      
      .main_filter_block {
        width: 90%;
      }
    } 
  }
}