<div class="accept-offer-modal-window accept-offer-modal-window--accepted">
  <div class="modal-content modal-content--accepted">
    <img class="modal-image modal-image--accepted" src="<%= asset_pack_path 'media/images/ok.svg' %>"/>
    <h1 class="modal-header modal-header--accepted">The Offer is Accepted</h1>
    <p class="modal-body modal-body--accepted">
      <span class="name name--accepted">
        <%= @offer.tutor.first_name %> <%= @offer.tutor.last_name %>
      </span>
      will Get in Tounch with You as soon as Possible
    </p>
    <%= link_to 'OK', @chat, class: "common_button common_button--accepted" %>
  </div>
</div>
